@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif, Roboto;
}

header nav {
    background-color: #0E79B2;
    color: #fff;
    display: flex;
    padding: 0 5%;
}
.container{
    padding: 0 5%;
}
.brand{
    font-size: 3rem;
}
.search{
    margin: 2rem auto ;
    text-align: center;
}
.search form{
    display: inline-flex;
    margin: auto;
}
.search-bar{
    font-size: 2rem;
    border: 2px solid #191923;
    border-radius: 2rem 0 0 2rem;
    border-right: none;
    padding: 0 2rem;
}
.search-bar:focus{

    outline: none;
    box-shadow: none;
}
.search-bar::placeholder{
    color: #b1b1b1;
}
.submit-btn{
    border: #191923 solid 2px;
    border-left: none;
    border-radius: 0 2rem 2rem 0;
    cursor: pointer;
}
.submit-btn img{
    height: 3rem;
    width: 3rem;
    border-radius: 0 2rem 2rem 0;
}

/* _____________________________ */
hr{
    border: none;
    height: 0.5px;
    background-color: #d4d4d4;
    
}

.render-countries{
    display: grid;
    grid-template-columns: auto auto auto;
}
.country-container{
    margin: 0.8rem;

    padding: 10px;
    background-color: #f1f2f1;
    border: 0.1px solid #e1e1e1;
    border-radius: 0.8rem;
    color: #191923;
}
.country-container h2{
    text-align: center;
    border-bottom: 0.1px solid #191923;
    font-weight: 400;
    padding: 0 0 0.2rem 0;
}
.flag-and-coat img{
    height: 4rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
.hide{
    display: none;
}